
<div id="assessment-index" class="col-md-6 col-xs-12 center-block">
<h1>Assessments</h1>

    <% @assessments.each do |assessment| %>
      <ul class="assessments-list">
  
        <li><%= link_to assessment.date.try(:strftime, "%b %e, %Y"), assessment %> 

          <span class="mood-for-index">
            <% case assessment.wellbeing 
                 when 1 %><%= fa_icon('sad-tear', type: :regular) %>
              <% when 2 %><%= fa_icon('frown', type: :regular) %>
              <% when 3 %><%= fa_icon('meh', type: :regular) %>
              <% when 4 %><%= fa_icon('smile', type: :regular) %>
              <% when 5 %><%= fa_icon('grin', type: :regular) %>
            <% end %>
          </span>

          </li>
      </ul>
    <% end %>
<br>

<%= link_to 'New Assessment', new_assessment_path, data: { turbolinks: false } %>
</div>