
<div id="show-assessment" class="col-md-6 col-xs-12 center-block">

      <div>
        <h5>Date:</h5>
        <%= @assessment.date.try(:strftime, "%b %e, %Y")  %>
      </div>

      <div>
        <h5>Bed time:</h5>
        <%= @assessment.bed_time.try(:strftime, "%I:%M %p") %>
      </div>
      <div>
        <h5>Wake time:</h5>
        
        <%= @assessment.wake_time.try(:strftime, "%I:%M %p") %>
      </div>

  
        <div>
          <h5>Sleep quality:</h5>
          <%= @assessment.sleep_quality %>
        </div>


        <div>
          <h5>fatigue:</h5>
          <%= @assessment.fatigue %>
        </div>

        
        <div>
          <h5>Energy:</h5>
          <%= @assessment.energy %>
        </div>

        <div>
          <h5>Mood:</h5>
          <% case @assessment.wellbeing 
             when 1 %><%= fa_icon('sad-tear', type: :regular) %>
          <% when 2 %><%= fa_icon('frown', type: :regular) %>
          <% when 3 %><%= fa_icon('meh', type: :regular) %>
          <% when 4 %><%= fa_icon('smile', type: :regular) %>
          <% when 5 %><%= fa_icon('grin', type: :regular) %>
          <% end %>
        </div>

      <div>
        <h5>Kids:</h5>
    
          <%= human_boolean(@assessment.have_kids) %>
      </div>

      <div>
        <h5>Sex:</h5>
          <%= human_boolean(@assessment.sex) %>
      </div>

      <div>
        <h5>Comment:</h5>
        <%= @assessment.comment %>
      </div>

  <%= link_to 'Edit', edit_assessment_path(@assessment) %> |
  <%= link_to 'Back', assessments_path %>
</div>